@import url('http://fonts.cdnfonts.com/css/harry-potter');

* {
    box-sizing: border-box;
    margin: 0;
    
  }

body {
  font-family: 'Harry Potter', sans-serif;
  background-image: url("/images/hp-castle.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  max-width: 500px;
}

  h1 {
    font-family: 'Harry Potter', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #ebe713;
  }

  p {
    font-family: 'Harry Potter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #4c6986;
  }

  #app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .wrapper {
    max-width: 1440px;
    height: 800px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .fog-anim{
    position: relative;
    max-width: 1440px;
    height: 800px;
    /* padding: 40px; */
    z-index: 1;
    /* left: 0;
    top: 0; */
    background: url(/images/fog.png);
    background-size: 120% auto;
    background-position: 0 bottom;
    animation: fogAnim 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes fogAnim{
    0%{background-position: -200% bottom;}
    100%{background-position: 0% bottom;}
  }

  .restart {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #ebe713;
    margin-top: 30px;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #ebe713;
    cursor: pointer;
  }

  .restart:hover {
    background: #ebe713;
    color: white;
  }

  .game {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: 'Harry Potter', sans-serif;
    width: 500px;
    height: 500px;
    
  }

  .header {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #9A9A9A;
  }

  .header .gryffindor{
    width: 33%;
    height: auto;
  }

  .header .Slivering{
    width: 40%;
    height: auto;
  }

  .player-x {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
    padding-bottom: 5px;
    
  }

  .player-x.active {
    color: #ce5923;
    border-color: #ce5923;
  }

  .player-o.active {
    color: #2da110;
    border-color: #2da110;
  }

  .player-o {
    flex: 1; 
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
    padding-bottom: 5px;
  }

  .header__status {
    padding: 12px;
    flex-grow: 1;
    text-align: center;
  }

  .header__restart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .board {
    display: grid;
    grid-gap: 0px;
    padding: 0px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
  }

  .board__tile {
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    opacity: 0.6;
  }

  .tile-x {
    color: #d39612;
  }

  .tile-o {
    color: #0bc238
  }

  .board__tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(137, 163, 189, 0.58);
  }

  .board__tile:not(:nth-last-child(-n + 3)) {
    border-bottom: 3px solid rgba(137, 163, 189, 0.58);
  }
  .board__tile:hover {
    background: #eeeeee;
  }

  .board__tile--winner span {
    color: #e01313 !important;
  }

  @media only screen and (max-width: 1200px) {
    .wrapper {
      flex-direction: column;

    }
    .left {
      margin-bottom: 50px;
    }
  }

  
